# Python
__pycache__/
*.pyc
*.pyo

# Data / logs
logs/
*.csv

# Models
models/*.pkl

# MLflow
mlruns/

# Env
.env
venv/
.venv/

# Node
node_modules/
frontend/node_modules/

# Build
frontend/dist/

# OS
.DS_Store
Thumbs.db

# Exclude non-core HTML (templates/static assets) from GitHub's language stats
templates/**/*.html linguist-documentation=true
static/**/*.html linguist-documentation=true
*.html linguist-documentation=true